{namespace crud=Sandstorm\CrudForms\ViewHelpers}
{namespace osquery=Sandstorm\OsqueryFleet\Ui\ViewHelpers}
<f:layout name="Default"/>

<f:section name="Content">
    <div class="header">
        <h1>Status Log for <code>{node.hostName}</code></h1>
        <div class="header__toolbar">
            <f:link.action action="index" class="button button-secondary">go back</f:link.action>
        </div>
    </div>

    <f:flashMessages class="flashmessages"/>

    <f:widget.paginate objects="{logs}" as="paginatedLogs" configuration="{itemsPerPage: 200, maximumNumberOfLinks: 20}">
        <table>
            <thead>
            <tr>

                <th>timestamp</th>
                <th>filename:line</th>
                <th>message</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{paginatedLogs}" as="logLine">
                <tr class="{osquery:renderSeverity(severity: logLine.severity)}">
                    <td>
                        {logLine.timestamp -> f:format.date(format: 'd.m.Y H:i:s')}
                    </td>
                    <td>
                        {logLine.filename}:{logLine.line}
                    </td>
                    <td>{logLine.severity} {logLine.message}</td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:widget.paginate>

</f:section>
