:root {
    --goldenUnit: 8px;
    --sandstormBlue: #0099ff; /* todo */
}
* {
    box-sizing: border-box;
    margin: 0;
}
.l-body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: calc(var(--goldenUnit) * 6) 1fr;
    grid-template-columns: calc(var(--goldenUnit) * 25) 1fr;
    grid-template-areas:
        "logo searchbar"
        "sidebar main";

    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.l-logo {
    grid-area: logo;
}

.l-searchbar {
    grid-area: searchbar;
}

.l-sidebar {
    grid-area: sidebar;
}

.l-main {
    grid-area: main;
    overflow: auto;
}



/* Searchbar */
.searchbar {
    display: flex;
}
.searchbar__input {
    flex-grow: 1;
}

/* Logo */
.logo {
    align-self: center;
}

/* form-group */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--goldenUnit);
}
.form-group__label {
    flex-basis: calc(var(--goldenUnit) * 2);
    line-height: calc(var(--goldenUnit) * 2);
}
.form-group__control {
    flex-grow: 1;
}


/* button */
.button {
    border: 0;
    margin: var(--goldenUnit);
    height: calc(var(--goldenUnit) * 3);
}
.button--primary {
    background-color: var(--sandstormBlue);
    color: white;
}
