<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="../../Public/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/codemirror.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/addon/merge/merge.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/addon/hint/show-hint.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/mode/sql/sql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/addon/hint/show-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/addon/hint/sql-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.34.0/addon/merge/merge.min.js"></script>
    <script src="../../Public/schema_for_codemirror.js"></script>
</head>
<body class="l-body">

<div class="l-logo logo">osquery Fleet</div>

<div class="l-searchbar searchbar">
    <input class="searchbar__input" type="text" placeholder="Search" aria-label="Search">
</div>

<div class="l-sidebar">
    <ul class="sidebarMenu">
        <li class="sidebarMenu__item">
            <f:link.action controller="QueryPack" action="index">
                Query Pack
            </f:link.action>
        </li>
        <li class="sidebarMenu__item">
            <f:link.action controller="Query" action="index">
                Queries
            </f:link.action>
        </li>
        <li class="sidebarMenu__item">
            <f:link.action controller="Node" action="index">
                Nodes
            </f:link.action>
        </li>

    </ul>
</div>

<main role="main" class="l-main">
    <f:render section="Content"/>
</main>
</body>
</html>
