{namespace crud=Sandstorm\CrudForms\ViewHelpers}
<fieldset>
    <f:for each="{fields}" as="field">
        <div class="input-field {f:validation.ifHasErrors(for: 'object.{field.property}', then: 'input-invalid')}">
            <label>{field.label}</label>
            <f:if condition="{field.editor}">
                <f:then>
                    <f:render partial="CrudForms/Helpers/Editor/{field.editor}" arguments="{formFieldClass: 'form-group__control ', field: field, object: object, value: '{object -> crud:internal.objectAccess(property: field.property)}'}"/>
                </f:then>
                <f:else>
                    <f:render partial="CrudForms/Helpers/Editor/String" arguments="{formFieldClass: 'form-group__control {f:validation.ifHasErrors(for: \'object.{field.property}\', then: \' is-invalid\')}', field: field, object: object, value: '{object -> crud:internal.objectAccess(property: field.property)}'}"/>
                </f:else>
            </f:if>
            <f:validation.results for="object.{field.property}">
                <f:if condition="{validationResults.flattenedErrors}">
                    <p class="input-hint">
                        <f:for each="{validationResults.errors}" as="error">
                            {error}
                        </f:for>
                    </p>
                </f:if>
            </f:validation.results>

        </div>
    </f:for>
</fieldset>
