{namespace crud=Sandstorm\CrudForms\ViewHelpers}
<f:layout name="Default"/>

<f:section name="Content">

    <f:form action="update" objectName="object" object="{object}" enctype="multipart/form-data">
        <div class="header">
            <h1>Query <code>{object.identifier}</code></h1>
            <div class="header__toolbar">
                <f:form.submit value="save" class="button button-primary"/>
                <f:link.action action="index" class="button button-secondary">cancel</f:link.action>
            </div>
        </div>

        <f:flashMessages class="flashmessages"/>

        <f:render partial="CrudForms/Custom/Form" arguments="{crud:formDefinition(object: object, model: model)}"/>

        <f:form.hidden property="sqlQuery" id="querySource" />
    </f:form>

</f:section>

