{namespace crud=Sandstorm\CrudForms\ViewHelpers}
<f:layout name="Default"/>

<f:section name="Content">

    <f:flashMessages class="flashmessages"/>

    <f:form action="update" objectName="object" object="{object}" enctype="multipart/form-data">
        <f:render partial="CrudForms/Bootstrap4/Form" arguments="{crud:formDefinition(object: object, model: model)}" />

        <div id="editor">
        </div>

        <f:form.hidden property="sqlQuery" id="sqlQuery" />

        <script>
            <![CDATA[
            var target = document.getElementById("editor");
            var value = $('#sqlQuery').val();
            var dv = CodeMirror(target, {
                value: value,
                lineNumbers: true,
                mode: "text/x-sql",
                extraKeys: {"Ctrl-Space": "autocomplete"}, // To invoke the auto complete
                hint: CodeMirror.hint.sql,
                hintOptions: {
                    tables: OSQUERY_SCHEMA
                }
            });
            dv.on("keyup", function (cm, event) {
                if (!cm.state.completionActive && /*Enables keyboard navigation in autocomplete list*/
                    event.keyCode != 13) {        /*Enter - do not open autocomplete list just after item has been selected in it*/
                    CodeMirror.commands.autocomplete(cm, null, {completeSingle: false});
                }
            });
            dv.on('change', function() {
                $('#sqlQuery').val(dv.getValue());
            })
            ]]>
        </script>

        <f:link.action action="index" class="button">Cancel</f:link.action>
        <f:form.submit value="save" class="btn btn-primary" />
    </f:form>

</f:section>

